html, body {
    background-color: #3c4043;
}

.bookmark {
    margin-right: 15px;
    cursor: pointer;
    float: left;
}

.bookmark:last-of-type {
    margin-right: 0;
}

.bookmark-link {
    background-color: rgb(228, 228, 228);
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.bookmark-favicon {
    padding-top: 12px;
    height: 24px;
    width: 24px;
}